.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFB6C1;
    border-bottom: 2px solid #FFF;
    padding: 10px 20px;
    overflow: hidden;
}

.main-header .action-square{
    color: #ee5b8c;
    font-size: 20px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    padding-left: 20px;
    text-decoration: none;
}

.main-button{
    border-radius: 25px;
    color: #FFF;
    font-weight: 700;
    line-height: 84.693%;
    font-size:20px ;
    padding: 10px 50px;
    text-decoration: none;
    background-color: #b32f61;
    border: 5px solid #FFF;
    transition: 0.3s;
    
}

.main-button:hover{
    transform: scale(1.08);
}